fastapi
uvicorn[standard]
jinja2
python-multipart
python-dotenv
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
itsdangerous
openpyxl
pandas
psycopg2-binary
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
